* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #09090A;
    color: white;
    font-family: 'Inter';

    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 48px;

    position: fixed;
    width: 100%;
    background-color: #09090A;
}

button {
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #EAB308;

    background-color: transparent;
    color: white;

    display: flex;
    align-items: center;
    gap: 12px;

    font-weight: 600;
    line-height: 125%;

    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#form-habits {
    display: flex;

    padding: 182px 48px 48px;
    width: fit-content;
}

.habits {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.habits img {
    width: 32px;
}

.habit {
    font-size: 32px;

    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.days {
    display: flex;
    gap: 48px;
    margin-left: 32px;

    font-family: 'Roboto Mono';
}

.day {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.day div {
    margin-bottom: 8px;

    font-size: 20px;
    line-height: 125%;

    color: #EAB308;

    text-align: center;
}

input {
    appearance: none;
    -webkit-appearance: none;

    width: 64px;
    height: 64px;

    border-radius: 8px;
    border: 2px solid #272724;

    background: #18181b;
}

input:checked {
    background: #EAB308;
    border: 2px solid #CA8A04;
}

@media (max-width: 570px) {
    button div {
        display: none;
    }
}