* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #09090A;
    color: white;
    font-family: 'JetBrains Mono', monospace;

    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 48px;
    position: fixed;
    width: 100%;

    font-size: 2rem;
}

.button {
    cursor: pointer;

    font-size: 2.3rem;
}

.button:hover {
    opacity: 0.8;
}

#form-habits {
    display: flex;

    padding: 182px 48px 48px;
    width: fit-content;
}

.habit {
    font-size: 32px;
}

.days {
    display: flex;
    gap: 48px;
    margin-left: 32px;

    font-family: 'Manrope', sans-serif;
}

.day {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.day div {
    margin-bottom: 8px;

    font-size: 0.85rem;
    line-height: 125%;

    text-align: center;
}

input {
    appearance: none;
    -webkit-appearance: none;

    width: 2rem;
    height: 2rem;

    border-radius: 8px;
    border: 2px solid #272724;

    background: #18181b;
}

input:checked {
    background: #514796;
    border: 2px solid #2a2163;
}

@media (max-width: 610px) {
    header {
        flex-direction: column;
        gap: 21px;
        padding: 11px;
    }

    button div {
        display: none;
    }
}