* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #09090A;
    color: #fff;
    font-family: 'Manrope', sans-serif;

    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 1.125rem;
    width: 100%;
}

header .logo {
    font-family: 'JetBrains Mono', monospace;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.button {
    color: #3064E8;

    cursor: pointer;

    font-size: 2.3rem;
}

.button:hover {
    opacity: 0.8;
}

.info {
    background: #18181b;
    border-radius: 5px;
    color: #b9b9b9;
    line-height: 25px;
    text-align: center;

    padding: 1rem;
    margin: 1rem 3rem;
}

#form-habits {
    display: flex;

    padding: 2rem 3rem;
    width: fit-content;
}

.days {
    display: flex;
    gap: 48px;
    margin-left: 32px;

    font-family: 'Manrope', sans-serif;
}

.day {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.day div {
    margin-bottom: 8px;

    font-size: 0.85rem;
    line-height: 125%;

    text-align: center;
}

input {
    appearance: none;
    -webkit-appearance: none;

    width: 2rem;
    height: 2rem;

    border-radius: 8px;
    border: 2px solid #272724;

    background: #18181b;
}

input:checked {
    background: #3064E8;
    border: 2px solid #1b377e;
}

@media (max-width: 610px) {
    header {
        flex-direction: column;
        gap: 21px;
        padding: 11px;
    }

    button div {
        display: none;
    }

    #form-habits {
        padding: 1rem 0;
    }
}